main{
    background-color: rgba(13,7,20,255) !important;
}
.container{
    background-color: rgba(29,24,37,255) !important;
}
.add-btn{
    background-color: #9e78cf !important;
    &:hover{
        background-color: #a486cc !important;
    }
}
input{
    border:2px solid #9e78cf !important;
}
.sign-up{
    background-color:rgba(13,7,20,255)!important; 
    button{
        background-color: #9e78cf !important;
        &:hover{
            background-color: #a486cc !important;
        }
    }
}
.item-to-do{
    background-color: rgba(21,16,28,255) !important;
    color: #9e78cf !important;
}